<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="app.usp"
      android:versionCode="1"
      android:versionName="0.19">
    <uses-sdk android:minSdkVersion="7" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        <activity android:label="@string/app_name" android:configChanges="keyboardHidden|orientation" android:name="Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <category android:name="android.intent.category.BROWSABLE"></category>
                <data android:host="*" android:scheme="file" android:mimeType="*/*" android:pathPattern=".*\\.SCL"></data>
                <data android:host="*" android:scheme="file" android:mimeType="*/*" android:pathPattern=".*\\.TRD"></data>
                <data android:host="*" android:scheme="file" android:mimeType="*/*" android:pathPattern=".*\\.SNA"></data>
                <data android:host="*" android:scheme="file" android:mimeType="*/*" android:pathPattern=".*\\.Z80"></data>
                <data android:host="*" android:scheme="file" android:mimeType="*/*" android:pathPattern=".*\\.TZX"></data>
                <data android:host="*" android:scheme="file" android:mimeType="*/*" android:pathPattern=".*\\.TAP"></data>
                <data android:host="*" android:scheme="file" android:mimeType="*/*" android:pathPattern=".*\\.CSW"></data>
                <data android:host="*" android:scheme="file" android:mimeType="*/*" android:pathPattern=".*\\.ZIP"></data>
                <data android:host="*" android:scheme="file" android:mimeType="*/*" android:pathPattern=".*\\.scl"></data>
                <data android:host="*" android:scheme="file" android:mimeType="*/*" android:pathPattern=".*\\.trd"></data>
                <data android:host="*" android:scheme="file" android:mimeType="*/*" android:pathPattern=".*\\.sna"></data>
                <data android:host="*" android:scheme="file" android:mimeType="*/*" android:pathPattern=".*\\.z80"></data>
                <data android:host="*" android:scheme="file" android:mimeType="*/*" android:pathPattern=".*\\.tzx"></data>
                <data android:host="*" android:scheme="file" android:mimeType="*/*" android:pathPattern=".*\\.tap"></data>
                <data android:host="*" android:scheme="file" android:mimeType="*/*" android:pathPattern=".*\\.csw"></data>
                <data android:host="*" android:scheme="file" android:mimeType="*/*" android:pathPattern=".*\\.zip"></data>
            </intent-filter>
        </activity>

		<meta-data android:name="com.mobclix.APPLICATION_ID" android:value="9CDDAF11-3CD0-4AD3-A472-49B84AD996A3"/>
		<activity android:name="com.mobclix.android.sdk.MobclixBrowserActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
    </application>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.GET_TASKS"></uses-permission>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
</manifest>